<form #myForm="ngForm" (ngSubmit)="mostrar(myForm.value)" class="example-form">

    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Registro" disabled value="Nuevo Entrenador">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input matInput name="nombre" ngModel placeholder="Nombre">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input matInput name="apellido" placeholder="Apellido">
      </mat-form-field></td>
    </tr></table>
  
    <div>
      <mat-form-field class="example-full-width">
        <input matInput name="email" ngModel placeholder="example@email.com" type="email">
      </mat-form-field>
 
      <mat-form-field class="example-full-width">
        <input matInput name="password" ngModel #message maxlength="256" placeholder="Contraseña">
        <mat-hint align="start"><strong>Al menos 8 caracteres para la contraseña</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 12</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput name="fechaNacimiento" ngModel [matDatepicker]="picker"
         placeholder="Fecha de Nacimiento">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      

      <mat-form-field class="example-full-width">
        <mat-label>Selecciona equipo</mat-label>
        <mat-select name="equipo"  ngModel>
          <mat-option *ngFor="let equipo of equipos" [value]="equipo">
            {{equipo}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

        <button mat-raised-button color="accent" type="submit">Siguiente</button>

  </form>
  