<div class="modal-container">
  <h1 style="text-transform: capitalize;"> {{listSkills.name}} #{{listSkills.id}} </h1>
  <div style="display:flex; justify-content: space-between;">
    <div style="display:flex; flex-direction:column;  width: 200px;">
      <div>
        <img *ngIf="listSkills.id" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{listSkills.id}}.png">
      </div>
      <hr>
      <div style="display:flex;justify-content:start; flex-direction:row; align-items: center;">
        <div style="width: 80px;">
          Fisionomia
        </div>
        <div  style="display:flex;justify-content: start; flex-direction:column;">
          <div>
            Altura:{{listSkills.height}}
          </div>
          <div>
            Peso:{{listSkills.weight}}
          </div>
        </div>
      </div>
      <hr>
      <div style="display:flex;justify-content: start; flex-direction:row;">
        <div style="width: 80px;">
          Tipo
        </div>
        <div style="display:flex;justify-content: start; flex-direction:column; ">
          <div *ngFor="let tipo of listSkills.types">
            {{tipo.type.name}}
          </div>
        </div>
      </div>
      <hr>
      <div style="display:flex;justify-content: space-between; flex-direction:row; align-items: center;">
        <div style="width: 80px;">
          Stats
        </div>
        <div style="display:flex;justify-content: start; flex-direction:column; align-items: left;">
          <div *ngFor="let stats of listSkills.stats">
            {{stats.stat.name}} : {{stats.base_stat}}
          </div>
        </div>
      </div>
    </div>


    <div>
      Habilidades
      <hr>
      <div *ngFor="let skills of listSkills.abilities">
        {{skills.ability.name}}
      </div>
    </div>
    <div>
      Movimiento
      <hr>
      <div *ngFor="let moves of listSkills.moves">
        {{moves.move.name}}
      </div>
    </div>
    <div>
      Versiones donde aparece
      <hr>
      <div *ngFor="let version of listSkills.game_indices">
        {{version.version.name}}
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
  </div>
</div>