<h1 mat-dialog-title>{{data}}</h1>
<h2 mat-dialog-title>Caracteristicas físicas</h2>
<div mat-dialog-content *ngFor="let skills of listSkills.abilities"  > {{skills.ability.name}}</div>
<h2 mat-dialog-title>Tipo</h2>
<div mat-dialog-content *ngFor="let skills of listSkills.abilities"  > {{skills.ability.name}}</div>
<h2 mat-dialog-title>Movimientos</h2>
<div mat-dialog-content *ngFor="let skills of listSkills.abilities"  > {{skills.ability.name}}</div>
<h2 mat-dialog-title>Habilidades</h2>
<div mat-dialog-content *ngFor="let skills of listSkills.abilities"  > {{skills.ability.name}}</div>
<h2 mat-dialog-title>Aparece en las versiones:</h2>
<!-- <div mat-dialog-content *ngFor="let version of listSkills.game_indices"  > {{version.version.name}}</div> -->
<h2 mat-dialog-title>Stats</h2>
<div mat-dialog-content *ngFor="let skills of listSkills.abilities"  > {{skills.ability.name}}</div>



<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>


