<p>pokedex</p>

<div style="display:flex; justify-content: center; flex-direction:column">
  <div *ngFor="let pokemon of listpokemon.results">
    <div style="display:flex; align-items: center; flex-direction:row">
      <div style="position:relative;width: 100px; height: 48px;">
        <div style="text-transform: capitalize;position: absolute; margin-top: 15px;">
          {{pokemon.name}}
        </div>
      </div>
      <div>
        <button mat-icon-button color="black" (click)="getPokemonByURL(pokemon.url)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div>
        <button mat-icon-button [ngStyle]="{'color': 'red' }" (click)="favoritear(pokemon.url)">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <button mat-raised-button >
        Siguiente
      </button>
      <button mat-raised-button >
        Atras
      </button>
    </td>
  </tr>
</table>